<ul>
  <% @movies.each do |movie| %>
    <li><a href="/movies/<%= movie.id %>"><%= movie.title %></a> <%= movie.year %> is a <%= movie.movie_type %>! Rated <%= movie.rating %> star(s)</li>
  <% end %>
</ul>
